<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/adminAnalyses.css') }}">
    <title>Bio Market</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analyses">Analyses</a></li>
            <li><a href="/partners">Our Partners</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/client/orderPage">Order</a></li>
            <li><a href="/logout">LogOut</a></li>
            {% if loggedAdmin == admin %}
            <li><a href="/admin">Admin Panel</a></li>
            {% endif %}
        </ul>
    </nav>
    <form action="/admin/analyse" method="post">
        <div class="product_name">
            <label for="product_name">Product :</label>
            <input type="text" name="product_name" id="product_name">
            {% with messages = get_flashed_messages(category_filter=["product_name"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <div class="pesticide">
            <label for="pesticide">Pesticide :</label>
            <input type="text" name="pesticide" id="pesticide">
            {% with messages = get_flashed_messages(category_filter=["pesticide"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <div class="allowed">
            <label for="allowed">Allowed :</label>
            <input type="text" name="allowed" id="allowed">
            {% with messages = get_flashed_messages(category_filter=["allowed"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <div class="allowedAmount">
            <label for="allowedAmount">Allowed Amount: :</label>
            <input type="number" name="allowedAmount" id="allowedAmount">
            {% with messages = get_flashed_messages(category_filter=["allowedAmount"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <div class="constatedAmount">
            <label for="constatedAmount">Constated Amount :</label>
            <input type="number" name="constatedAmount" id="constatedAmount">
            {% with messages = get_flashed_messages(category_filter=["constatedAmount"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <div class="control">
            <label for="control">Date of control :</label>
            <input type="date" name="control" id="control">
            {% with messages = get_flashed_messages(category_filter=["control"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <div class="constatedAmount">
            <label for="product_id">Product id:</label>
            <input type="number" name="product_id" id="product_id">
            {% with messages = get_flashed_messages(category_filter=["product_id"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
        </div>
        <button type="submit">Add</button>
    </form>
    <footer>
        <Address>Berat, Albania</Address>
        <p>Contact: (355)12345678</p>
        <p>Email: biomarket@gmail.com</p>
    </footer>
</body>
</html>