<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
    <title>Bio Market</title>
</head>

<body>
    <div class="content">
        <h2>If you are an existing user, you could login here:</h2>
        <form action="/login" method="post">
            <div class="email">
                <label for="email">Email Address :</label>
                <input type="email" name="email" id="email">
                {% with messages = get_flashed_messages(category_filter=["emailLogin"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
            </div>
            <div class="password">
                <label for="password">Password :</label>
                <input type="password" name="password" id="password">
                {% with messages = get_flashed_messages(category_filter=["passwordLogin"]) %} 
                    {% if messages %} 
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
            </div>
            <button class="login" type="submit">LogIn</button>
        </form>
        <div class="log">
            <h3>Not an user?</h3>
            <button><a href="/registerPage">Register</a></button>
        </div>
        <div class="log">
            <h3>Login as Admin</h3>
            <button><a href="/loginPage/admin">Login</a></button>
        </div>
    </div>
</body>

</html>