<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/stock.css') }}">
    <title>Bio Market</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analyses">Analyses</a></li>
            <li><a href="/partners">Our Partners</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/client/orderPage">Order</a></li>
            <li><a href="/logout">LogOut</a></li>
            {% if loggedAdmin == admin %}
            <li><a href="/admin">Admin Panel</a></li>
            {% endif %}
        </ul>
    </nav>
    <h2>As you may know we collect products from local farmers, analyse and store them</h2>
    <h2> <span>Our stock at the moment has: </span></h2>
    <div>
        <table>
            <th>
                <tr>
                    <td>Products</td>
                    <td>Quantity(ton)</td>
                    <td>Date of storage</td>
                    <td>Price/ton</td>
                    {% if loggedAdmin == admin %}
                    <td>Options</td>
                    {% endif %}
                </tr>
            </th>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.product_name}}</td>
                    <td>{{ product.quantity}}</td>
                    <td>{{ product.storage}}</td>
                    <td>{{ product.price}}</td>
                    {% if loggedAdmin == admin %}
                    <td>
                        <a href="/edit/product/{{product.id}}">Edit</a> <a href="/delete/product/{{product.id}}">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <footer>
        <Address>Berat, Albania</Address>
        <p>Contact: (355)12345678</p>
        <p>Email: biomarket@gmail.com</p>
    </footer>
</body>
</html>