<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/welcomeAdmin.css') }}">
    <title>Bio Market</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analyses">Analyses</a></li>
            <li><a href="/partners">Our Partners</a></li>
            <li><a href="/stock">Stock</a></li>
            <li><a href="/client/orderPage">Order</a></li>
            <li><a href="/logout">LogOut</a></li>
            {% if loggedAdmin == admin %}
            <li><a href="/admin">Admin Panel</a></li>
            {% endif %}
        </ul>
    </nav>
    <h2>Welcome Admin</h2>
    <h3>What do you want to do ?</h3>
    <div class="options">
        <a href="/admin/analysePage">Add Analyses</a><a href="/admin/stockPage">Add Products in Stock</a><a href="/allOrders">View all Orders</a>
    </div>
    <h4>If you want to edit or delete something from Stock or Analyses click on the respective buttons in the navbar and you will find the option in the respective pages</h4>
    <footer>
        <Address>Berat, Albania</Address>
        <p>Contact: (355)12345678</p>
        <p>Email: biomarket@gmail.com</p>
    </footer>
</body>
</html>