main{
    height: fit-content;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
li{
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: blue;
    font-size: 18px;
}
nav{
    background-color: greenyellow;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

body{
    background-color: whitesmoke;
}
form{
    margin-left: 27%;
    background-color: rgb(83, 188, 223);
    width: 800px;
    height: 400px;
    padding: 10px;
    margin-top: 5%;
    border-radius: 5%;
}
form .product_name{
    margin-top: 5%;
    margin-left: 20%;
}
form .product_name label{
    font-size: 20px;
}
form .product_name input{
    margin-left: 30%;
}
form .quantity{
    margin-top: 2%;
    margin-left: 20%;
}
form .quantity label{
    font-size: 20px;
}
form .quantity input{
    margin-left: 29%;
}
form .storage{
    margin-top: 2%;
    margin-left: 20%;
}
form .storage label{
    font-size: 20px;
}
form .storage input{
    margin-left: 25%;
}
form .price{
    margin-top: 2%;
    margin-left: 20%;
}
form .price label{
    font-size: 20px;
}
form .price input{
    margin-left: 33.5%;
}

button{
    position: relative;
    top: 10%;
    left: 45%;
    font-size: 18px;
    padding: 3px 10px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: greenyellow;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    color: blue;
    position: relative;
    top: 170px;
}
footer address{
    margin-top: 1%;
}